* {
  box-sizing: border-box;
}
body {
  background-image: url("img/Background.png");
  width: 100%;
  height: auto;
}
nav {
  margin: 0 10%;
  position: fixed;
  top: 0;

  background-color: #fff;
}
.navbar-brand {
  color: #608af5 !important;
  font-family: poppins, sans-serif;
  font-weight: 700;
}
.navbar-brand span {
  color: #000;
  font-weight: lighter;
}
ul.navbar-nav {
  width: 500px;
}
.nav-item {
  margin: 0 15px;
}
.nav-item a {
  text-decoration: none;
  color: #000;
}
.nav-item .button {
  padding: 10px;
  background-color: #608af5;
  border-radius: 5px;
  color: #fff !important;
  font-size: 14px;
}

/* hero */
#passion {
  padding-bottom: 50px;
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: poppins, sans-serif;
}
.content h3 {
  font-size: 36px;
  font-weight: 300;
}
.content h1 {
  font-size: 48px;
  line-height: 3rem;
  color: #04226f;
}
.content p {
  font-size: 16px;
  margin-top: 24px;
}
.content img {
  width: 500px;
}

/* passion */
h3.passTitle {
  color: #608af5;
}
.passTitle span {
  color: #04226f;
}
.cardpassion {
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}
.card {
  margin: auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.17);
  border-radius: 20px;
}

/* Portfolio  */

.card-body a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  font-weight: 500;
}
#projects {
  padding-bottom: 40px;
}
h3.portTitle {
  color: #608af5;
  margin-top: 100px;
}
.portTitle span {
  color: #04226f;
}
/* contact */
h3.sosmedTitle {
  color: #608af5;
  margin-top: 100px;
}
.sosmedTitle span {
  color: #04226f;
}

/* sosmed */
.profile-link img {
  width: 10%;
  margin: 0 20px;
}
